<html>
    <title>
        Home
    </title>
    <head>
        <link rel="stylesheet" href="static/stylesheet.css">
    </head>
    <body>
        <a href="/logout">Log out</a>
        <center>
        <h1>
            Welcome to RecipeRando!
        </h1>
        <p1>
            Want a random recipe? Submit something you would want
            <br>
            such as either a plate or ingredient. For example
            <br>
            Pasta, Pizza, Salad or Apple, Cinnamon, Chipotle.
        </p1>
        <form name="Search" action="/random" method="POST">
            <input id="Search" name="Search" type="text" class="input" placeholder="Search">
            <button type="submit" value="Search">Search</button>
        </form>
        </center>
    </body>
</html>