<html>
    <head>
        <link rel="stylesheet" href="static/stylesheet.css">
        <title>
            Random
        </title>
        <script>

        </script>
    </head>
    
    <body>
        <a href="/logout">Log out</a>
        <center>
        <h1>
            {{recipe_name}}
        </h1>
        <br>
        <p1>
            <img src = "{{recipe_img}}"><br>
        </p1>
        <p2>
            <br>
            <h2>
                Ingredients:
            </h2>
            <br>
            {% for ingredient in ingredient_list %}
            <p>{{ingredient['original']}}</p>
            {% endfor %}
            <br>
        </p2>
        <p3>
            <br>
            <h3>
                Steps:
            </h3>
            {% for step in steps_list %}
            <p>Step {{step['number']}}: {{step['step']}}</p>
            {% endfor %}
        </p3>
        <p4>
            <br>
            Dont like this recipe try again and go back to home menu!
            <form action="/home" method="POST">
                <input type="submit" name="home" value="Go back to Home Page">
            </form>
        </p4>
        </center>
    </body>
</html>